/* Forms */
.field-help {
  margin-top: 4px; 
}
#ticket-create label {
  display: none;
}
#tcf {
  margin: 20px 0;
}
#tcf .form-controls {
  margin-top: 10px;
}

/* Pagination */
.pagination-wrapper {
  text-align: center;
}

/* Tickets */
.ticket .page-header {
  margin-bottom: 0px;
}
.ticket .field-label {
  color: #999;
}
.label-status-ua {
  background-color: #999;
}
.label-status-as {
  background-color: #5BC0DE;
}
.label-status-ip {
  background-color: #428BCA;
}
.label-status-dl {
  background-color: #D9534F;
}
.label-status-cp {
  background-color: #5CB85C;
}
.label-priority-nw {
  background-color: #F2DEDE;
  color: #bfbfbf;
}
.label-priority-sn {
  background-color: #FCF8E3;
  color: #bfbfbf;
}
.label-priority-sd {
  background-color: #D9EDF7;
  color: #bfbfbf;
}
.ticket-comment-control {
  margin-bottom: 10px;
}
.ticket-comment {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 6px;
  margin: 20px 0;
  padding: 20px 20px 10px 20px;
}
