{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Create Ticket{% endblock %}

{% block head_styles_extra %}
  <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block main %}
<form id="ticket-create" role="form" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
  {{ form.non_field_errors }}
  {% bootstrap_field form.title %}
  {% bootstrap_field form.description %}
  {% bootstrap_field form.department %}
  {% bootstrap_field form.priority %}
  <div class="form-group">
    {{ form.due_date.errors }}
    <div class="input-group date" id="due_date">
      <input id="id_due_date" name="due_date" type="text" class="form-control" placeholder="Due Date" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <p class="field-help text-muted">YYYY-MM-DD HH:MM</p>
  </div>

  <div class="form-group">
    <p><strong>Attachments</strong></p>
    <input id="id_attachments" type="file" name="attachments" multiple>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
{% endblock %}

{% block footer_js %}
  <script src="{% static "js/moment.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
  <script src="{% static "js/date-field.js" js%}"></script>
{% endblock %}
