{% extends "base.html" %}
{% load bootstrap3 %}
{% load bootstrap_pagination %}
{% load staticfiles %}

{% block title %}Tickets{% endblock %}


{% block main %}
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Priority</th>
      <th class="hidden-xs">Assigned</th>
      <th class="hidden-xs">Created</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets_pager %}
    <tr>
      <td><a href="{{ ticket.get_absolute_url }}">{{ ticket.title }}</a></td>
      <td><span class="label label-status-{{ ticket.status.lower }}">{{ ticket.get_status }}</span></td>
      <td><span class="label label-priority-{{ ticket.priority.lower }}">{{ ticket.get_priority }}</span></td>
      <td class="hidden-xs">{{ ticket.assigned.last_name }}</td>
      <td class="hidden-xs">{{ ticket.created_date|date:"Y-m-d" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="pagination-wrapper">
  {% bootstrap_paginate tickets_pager range=3 %}
</div>

{% endblock %}
